{% extends 'base.html' %}
{% load static %}
{% block fonts %}
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Smooch+Sans:wght@600&display=swap" rel="stylesheet">
{% endblock %}

{% block css %}
 <link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-7 align-items-center">
                <div class="h1 text-center p-4 header">Sign Up</div>
                {% if user_form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in user_form.errors.values %}
                            {% for str_error in error %}
                            <p class="font-weight-bold h6">{{str_error}}</p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}

                <form action="" method="post">
                    {% csrf_token %}
                    {% for field in profile_form %}
                    <p class="text-capitalize text-center h5 header">{{field.name}}</p>
                    {{field}}
                    <small class="form-text">
                        {{field.help_text}}
                    </small>
            
                    <br>  
                    {% endfor %}
            
                    {% csrf_token %}
                    {% for field in user_form %}
                        <p class="text-capitalize text-center h5">{{field.name}}</p>
                        {{field}}
            
                        <small class="form-text">
                            {{field.help_text}}
                        </small>
            
                        <br>  
                    {% endfor %}
                    <br>
                    <input type="submit" value="Sign Up" class="btn btn-lg btn-primary">
                
                </form>


            </div>
            <div class="col-4 p-4">
                <img src="{% static 'svgs/register_logo.svg' %}"  class= "img-fluid" alt="Registration Logo">
            </div>
        </div>
    </div>
    
{% endblock %}
